{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <p class="text-center">
        <a href="{% url 'settings' %}" class="btn btn-info">Back to settings</a>
        <a href="{% url 'badge-create' %}" class="btn btn-primary">Add Badges</a>
        <a href="{% url 'website' request.user.username %}" class="btn btn-warning" target="_blank">View website</a>
    </p>
    {% if skills %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            {% for badge in badges %}
                <tr>
                    <td>{{ badge.title }}</td>
                    <td class="text-center sptext">
                        <a href="{% url 'badge-update' badge.id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{% url 'badge-delete' badge.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2 class="text-center">Please Add some Badges</h2>
        <a href="{% url 'badge-create' %}" class="btn btn-success mx-auto">Add Badge</a>
        
    {% endif %}
{% endblock content %}