{% extends 'website/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <p class="text-center">
        <a href="{% url 'settings' %}" class="btn btn-info">Back to settings</a>
        <a href="{% url 'education-create' %}" class="btn btn-primary">Add Education</a>
        <a href="" class="btn btn-warning" target="_blank">View website</a>
    </p>
    {% if educations %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Session</th>
                <th>Action</th>
            </tr>
            {% for education in educations %}
                <tr>
                    <td>{{ education.name }}</td>
                    <td>{{ education.yrfrom }} - {{ education.yrto }}</td>
                    <td class="text-center sptext">
                        <a href="{% url 'education-update' education.id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="#"" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2 class="text-center">Please Add some Educations</h2>
        <a href="{% url 'education-create' %}" class="btn btn-success mx-auto">Add Education</a>
        
    {% endif %}
{% endblock content %}